/*CalendarView*/
#calendar {
	-fx-border-color: black;
	-fx-background-color: #fff;
}

.header {
	-fx-min-height: 64;
	-fx-pref-height: 64;
	-fx-hgap: 4;
	-fx-alignment: center;
	-fx-padding: 0 32 0 32;
}

.header .button, .header .choice-box {
	-fx-font-size: 16;
	-fx-font-weight: bold;
	-fx-pref-width: 128;
	-fx-background-size: 50%;
	-fx-background-repeat: no-repeat;
}

.header .choice-box {
	-fx-alignment: center-right;
}

.left {
	-fx-pref-height: 48;
	-fx-background-position: left;
	-fx-background-image: url("http://i247.photobucket.com/albums/gg154/HvitrEbrithil/Private/left_zps3u8wfscx.png");
	-fx-alignment: center-right;
	-fx-padding: 0 16 0 0;
}

.right {
	-fx-pref-height: 48;
	-fx-background-position: right;
	-fx-background-image: url("http://i247.photobucket.com/albums/gg154/HvitrEbrithil/Private/right_zpsro9ufpri.png");
	-fx-alignment: center-left;
	-fx-padding: 0 0 0 16;
}

.footer {
	-fx-min-height: 64;
	-fx-pref-height: 64;
	-fx-spacing: 32;
	-fx-alignment: center-right;
	-fx-padding: 0 32 0 32;
}

.footer .button {
	-fx-pref-width: 200;
	-fx-pref-height: 32;
}

.button:hover {
	-fx-cursor: hand;
}

.title {
	-fx-font-size: 32;
	-fx-font-weight: bold;
}

.month_year {
	-fx-pref-width: 250;
	-fx-padding: 0 4 0 0;
	-fx-font-size: 24;
	-fx-alignment: center-right;
}

.weekday {
	-fx-pref-width: 9999;
	-fx-padding: 0 0 0 8;
	-fx-font-size: 16;
	-fx-font-weight: bold;
	-fx-border-width: 2;
	-fx-border-color: transparent transparent #ccc transparent;
}

.date {
	-fx-font-size: 12;
}

.day {
	-fx-pref-width: 100%;
	-fx-pref-height: 100%;
	-fx-background-color: #fff;
	-fx-border-color: #ccc;
	-fx-padding: 2;
}

.white {
	-fx-background-color: #fff;
}

.personal-activity {
	-fx-focus-traversable: false;
	-fx-pref-width: 9999;
	-fx-border-color: #9fc6e7;
	-fx-border-width: 1;
	-fx-background-color: #e4eff8;
	-fx-padding: 1;
	-fx-alignment: center-left;
}

.personal-activity:hover {
	-fx-background-color: #ebf6ff;
}

.personal-activity:pressed {
	-fx-background-color: #d8e2eb;
}

.group-activity {
	-fx-focus-traversable: false;
	-fx-pref-width: 9999;
	-fx-border-color: #9fe7c6;
	-fx-border-width: 1;
	-fx-background-color: #e4f8ef;
	-fx-padding: 1;
	-fx-alignment: center-left;
}

.group-activity:hover {
	-fx-background-color: #ebfff6;
}

.group-activity:pressed {
	-fx-background-color: #d8ebe2;
}


/*AgendaView*/
.agenda {
	-fx-background-color: #eeeefa;
}

.agenda-list {
	-fx-background-color: #fff;
}

.agenda-list .date {
	-fx-border-width: 0 0 1 0;
	-fx-border-color: #ccc;
	-fx-padding: 8 0 8 16;
}

.agenda-list .date .label {
	-fx-min-width: 128;
	-fx-pref-width: 128;
	-fx-text-fill: #241b80;
	-fx-font-weight: bold;
}

.date-acts {
	-fx-spacing: 4;
}

.date-acts .button {
	-fx-text-fill: #0bbcb2;
	-fx-border-color: transparent;
	-fx-border-width: 0;
	-fx-background-color: transparent;
	-fx-focus-traversable: false;
}

.date-acts .button:hover {
	-fx-text-fill: #0cccc2;
}

.date-acts .button:pressed {
	-fx-text-fill: #0aada5;
}


/*DialogueView*/
.dialogue {
	-fx-background-color: #eee;
	-fx-background-radius: 5;
	-fx-border-color: #ddd;
	-fx-border-radius: 5;
}
