.root {
	-fx-background-color: #eeeefa;
}

.root .mainbox {
	-fx-background-color: #fff;
	-fx-border-style: dotted;
}

.disabled {
	-fx-text-fill: #999;
}

.disabled .text-field {
	-fx-text-fill: #999;
}

.close {
	-fx-pref-height: 32;
}

.button:hover {
	-fx-cursor: hand;
}

#login-mainbox {
	-fx-background-position: right;
	-fx-background-repeat: no-repeat;
	-fx-background-image: url("http://i247.photobucket.com/albums/gg154/HvitrEbrithil/Private/login_background_zpsxflgyquc.png");
}
